@font-face {
    font-family: fuenteAgregada;
    src: url(../fuentes/SuperMario256.otf);
}
body{
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg {
    background-image: url(../imagenes/bg\ usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    font-size: 15px;
}

.bg2 {
    background-image: url(../imagenes/bg\ newsletters.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    font-size: 15px;
}

.container{
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:1700px
}

.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
    color: #fdba31;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn{
    background-color: #5573c4;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    padding: 1.5rem 2rem;
    margin-right: 30px;
}

.slider-btn .btn-2{
    color: #000;
    background-color: #ffffff;
}

h2{
    font-weight: bold;
    text-align:center;
    padding-top: 5px;
    margin-bottom: px;
    color: #fdba31;
    font-size: 37px;
    font-family: 'Nunito', sans-serif;
}
label{
    color: #231b48;
    font-weight: bold;
    font-size: 18px;
}
input.form-control{
    border-radius: 6px;
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
}
.form-control {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}
select.form-select{
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #dfdfdf;
    color: #3c3c3c;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
div.form-check label{
    color: #888888;
    font-weight: bold;
    font-size: 15px;
}
div.valid-tooltip {
    font-size: 12px;
}
div.invalid-tooltip {
    font-size: 12px;
}
.btn-primary{
    background-color: #5573c4;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* .btn img{
    height: 35px;
}*/
/* button.btn{
    border-bottom: none!important;  
}*/
div.col.p-5.rounded-end{
    padding: 0px;
}
.pie{
    background-color: #dfdfdf;
    color: #484848;
    text-align: center;
    height: 180px;
    margin-top: 38px;
}
.pie h3{
    font-size: 16px;
    padding: 80px;
    font-weight: bold;
}

.pie2{
    background-color: #dfdfdf;
    color: #484848;
    text-align: center;
    height: 180px;
    margin-top: 123px;
}
.pie2 h3{
    font-size: 16px;
    padding: 80px;
    font-weight: bold;
}

.pie3{
    background-color: #dfdfdf;
    color: #484848;
    text-align: center;
    height: 222px;
    margin-top: 0px;
}
.pie3 h3{
    font-size: 16px;
    padding: 80px;
    font-weight: bold;
}

::placeholder {
    font-size: 15px;
    font-weight: lighter;
    color: #dfdfdf;
}









/* MENU ==================================================== */
.menu-bar{
    background-color: #ffffff;
}
.nav-link {
    font-size: 16px;
    margin: 15px;
    color: #4f4f4f!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa{
    color: #4f4f4f!important;
    font-size: 26px;
}
.nav-link:hover {
    font-weight: 600;
    background-color: #fdba31;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
.navbar-brand img {
    width: 140px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
}
@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}







